@charset "UTF-8";
#project-title,#pro-bookmark-star{
		display: inline-block;
		margin-bottom: 20px;
		font-size: 30px;
	}
	#project-title{
		margin-left: 10px;
		font-weight: bold;
	}
	#pro-bookmark-star{
		color:yellow;
	}
	
	#pro_container{
		border: 1px solid black;
		width: 100%;
		min-height:1000px;
		padding: 0px;
		margin: 0px;
		position: relative;
		
	}
	#content_section{
		border: 1px solid black;
		width: 750px;
		padding: 0px;
		margin: 0px;
		position:absolute;
		left: 20%;
		min-height: 300px;
		top:45%;
		
		
	}
	#inputContent_container{
		border: 1px solid black;
		padding-top: 40px;
		margin: 0px;
		width: 750px;
		height: 200px;		
		position:absolute;
		left: 20%;
		top:15%;
		justify-content: center;
	}
	#input-group{
		position: flex;
		justify-content: center;
	}
	#input-group div{
		display: inline-block;
		width: 180px;
		font-size: 30px;
		text-align: center;
	}
	
	#input-group a{
	text-decoration: none;
	color:black;
	}
	#input-group a:hover{
	color:grey;
	}
	
	#menu-container a{
		font-size: 25px;
		font-weight: bold;
		color: gray;
	}
	.nav-link:active {
	color:black;
	}
	.nav-link:hover{
	color:black;
	}
	.nav-item{
	margin-right: 15px;
	}
	
	#title-container{
		margin: 30px;
	}
	#menu-container{
		margin-left: 30px;
	}
	
	