@charset "UTF-8";

#project-title, #pro-bookmark-star {
	display: inline-block;
	margin-bottom: 20px;
	font-size: 30px;
}

#project-title {
	margin-left: 10px;
	font-weight: bold;
}

#pro-bookmark-star {
	color: yellow;
}

#pro_container {
	width: 100%;
	min-height: 1000px;
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: center;
	background-color:rgba(197, 197, 197, 0.036);
	border-top : 1px solid lightgray;
	padding-top : 15px;
}
#inner_pro_container{
	width: 100%;
}
.btn-outline-secondary:hover{
	background-color: #6710f242;
	border: 1px solid #6710f242;
}
.btn-outline-secondary{
	border: 1px solid #6710f242;
	color:#6710f242;
}
.form-control:hover{
	border: 1px solid #6710f242;
}
#proMemberViewContainer{
	width: 400px;
	display: flex;
	justify-content: center;
	
}
#innder_proMemberViewContainer{
	border : 1px solid lightgray;
	width : 250px;
	position: fixed;
	border-radius: 30px;
}
#contentContainer {
	padding-top: 0px;
	margin: 0px;
	width: 500px;
	padding: 50px;
}
@media screen and (max-width:1400px)
 { 
 #proMemberViewContainer { display: none;}
}
#inputContent_container{
	margin: 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	
}
#contentContainer{
	margin: 0px;
	width: 100%;
	margin-top: 50px;
	
}
.page-link{
	color:rgba(111, 0, 255, 0.904);
}

.workIngLa input[type='radio']{
	  display: none;
}
 .workIngLa input[type="radio"] + span {
 		font-family:"Do Hyeon";
		border-radius:15px;
        display: inline-block;
        padding: 5px 5px;
        border: 1px solid #dfdfdf;
        text-align: center;
        cursor: pointer;
        width: 80px;
 }
 
 .workIngLa input[type="radio"]:checked + span {
        background-color: #113a6b;
        color: #ffffff;
    }
    
    
    
#work_addMember_area{
	margin-top: 10px;
	font-family:'Do Hyeon';
	margin-left: 25px;
}


#sche_addMember_area{
	margin-top: 10px;
	font-family:'Do Hyeon';
	
}
#sche_addMember_area span{
	border-radius:12px;
	text-align: center;
    cursor: pointer;
	border: 1px solid #dfdfdf;
	padding: 5px 5px;
	display: inline-block;
	margin-left: 7px;
	font-size: 18px;
	color : rgb(54, 54, 54);
	min-width: 80px;
}
#work_addMember_area span{
	border-radius:12px;
	text-align: center;
    cursor: pointer;
	border: 1px solid #dfdfdf;
	padding: 5px 5px;
	display: inline-block;
	margin-left: 7px;
	font-size: 18px;
	color : rgb(54, 54, 54);
	min-width: 80px;
}


.workRankLa input[type='radio']{
	  display: none;
}
.workRankLa input[type="radio"] + span {
 		font-family:"Do Hyeon";
		border-radius:15px;
        display: inline-block;
        padding: 5px 5px;
        border: 1px solid #dfdfdf;
        text-align: center;
        cursor: pointer;
        width: 80px;
 }
 .workRankLa input[type="radio"]:checked + span {
        background-color: #113a6b;
        color: #ffffff;
    }   
.mytable{
	width: 100%;
	border-collapse: collapse;
	font-family: "Do Hyeon";
	font-size: 20px;
}
.mytable>thead{
	font-size: 24px;
	border-bottom: 2px solid black;
	padding-bottom: 10px;
}
.mytable>tr{
	border-bottom: 1px solid rgba(145, 145, 145, 0.178);
}
.mytable tr:hover{
	background-color: rgba(177, 177, 177, 0.042);
}

.mytable td{
	padding: 15px;
}



.mytable2{
	width: 100%;
	border-collapse: collapse;
	font-family: "Do Hyeon";
	font-size: 18px;
}
.mytable2>thead{
	font-size: 20px;
	border-bottom: 2px solid black;
	padding-bottom: 10px;
}
.mytable2>tr{
	border-bottom: 1px solid rgba(145, 145, 145, 0.178);
}
.mytable2 tr:hover{
	background-color: rgba(177, 177, 177, 0.042);
}

.mytable2 td{
	padding: 5px;
}



#input-group {
	position: flex;
	justify-content: center;
	border: 1px solid lightgray;
	padding: 20px;
	border-radius: 40px;
	text-align: center;
	width: 600px;
	height: 150px;
	
}

#input-group div {
	display: inline-block;
	width: 150px;
	font-size: 30px;
	text-align: center;
}

#input-group a {
	text-decoration: none;
	color: black;
}

#input-group a:hover {
	color: grey;
}

#menu-container a {
	font-size: 25px;
	font-weight: bold;
	color: gray;
}

.nav-link:active {
	color: black;
}

.nav-link:hover {
	color: black;
}

.nav-item {
	margin-right: 15px;
}

#title-container {
	margin: 30px;
}

#menu-container {
	margin-left: 30px;
}

.list-group-item{
	border-bottom: none;
}

.form-select {
	width: 150px;
}

.map_wrap, .map_wrap * {
	margin: 0;
	padding: 0;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	font-size: 12px;
}

.map_wrap a, .map_wrap a:hover, .map_wrap a:active {
	color: #000;
	text-decoration: none;
}

.map_wrap {
	position: relative;
	width: 100%;
	height: 500px;
}

#menu_wrap {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 250px;
	margin: 10px 0 30px 10px;
	padding: 5px;
	overflow-y: auto;
	background: rgba(255, 255, 255, 0.7);
	z-index: 1;
	font-size: 12px;
	border-radius: 10px;
}

.bg_white {
	background: #fff;
}

#menu_wrap hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid #5F5F5F;
	margin: 3px 0;
}

#menu_wrap .option {
	text-align: center;
}

#menu_wrap .option p {
	margin: 10px 0;
}

#menu_wrap .option button {
	margin-left: 5px;
}

#placesList li {
	list-style: none;
}

#placesList .item {
	position: relative;
	border-bottom: 1px solid #888;
	overflow: hidden;
	cursor: pointer;
	min-height: 65px;
}

#placesList .item span {
	display: block;
	margin-top: 4px;
}

#placesList .item h5, #placesList .item .info {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#placesList .item .info {
	padding: 10px 0 10px 55px;
}

#placesList .info .gray {
	color: #8a8a8a;
}

#placesList .info .jibun {
	padding-left: 26px;
	background:
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
		no-repeat;
}

#placesList .info .tel {
	color: #009900;
}

#placesList .item .markerbg {
	float: left;
	position: absolute;
	width: 36px;
	height: 37px;
	margin: 10px 0 0 10px;
	background:
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
		no-repeat;
}

#pagination {
	margin: 10px auto;
	text-align: center;
}

#pagination a {
	display: inline-block;
	margin-right: 10px;
}

#pagination .on {
	font-weight: bold;
	cursor: default;
	color: #777;
}

#placesList li {
	list-style: none;
}

#placesList .item {
	position: relative;
	border-bottom: 1px solid #888;
	overflow: hidden;
	cursor: pointer;
	min-height: 65px;
}

#placesList .item span {
	display: block;
	margin-top: 4px;
}

#placesList .item h5, #placesList .item .info {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#placesList .item .info {
	padding: 10px 0 10px 55px;
}

#placesList .info .gray {
	color: #8a8a8a;
}

#placesList .info .jibun {
	padding-left: 26px;
	background:
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
		no-repeat;
}

#placesList .info .tel {
	color: #009900;
}

#placesList .item .markerbg {
	float: left;
	position: absolute;
	width: 36px;
	height: 37px;
	margin: 10px 0 0 10px;
	background:
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
		no-repeat;
}

#placesList li {
	list-style: none;
}

#placesList .item {
	position: relative;
	border-bottom: 1px solid #888;
	overflow: hidden;
	cursor: pointer;
	min-height: 65px;
}

#placesList .item span {
	display: block;
	margin-top: 4px;
}

#placesList .item h5, #placesList .item .info {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#placesList .item .info {
	padding: 10px 0 10px 55px;
}

#placesList .info .gray {
	color: #8a8a8a;
}

#placesList .info .jibun {
	padding-left: 26px;
	background:
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
		no-repeat;
}

#placesList .info .tel {
	color: #009900;
}

#placesList .item .markerbg {
	float: left;
	position: absolute;
	width: 36px;
	height: 37px;
	margin: 10px 0 0 10px;
	background:
		url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
		no-repeat;
}



#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

.normalCommentOutput{
	width: 100%;
	padding: 10px;
}
.normalCommentContent{
	font-family:'Sunflower';
	font-size: 20px;
}
.normalCommentWriterName{
	font-family:'Sunflower';
	font-size: 16px;
}
.normalCommentDate{
	font-family:'Sunflower'; 
	font-size: 14px;
	margin-left: 10px;
	color:rgba(118, 0, 253, 0.733);
}
.delBtn{
	float:right;
	border: none;
	font-size: 14px;
}


.workCommentOutput{
	width: 100%;
	padding: 10px;
}
.workCommentContent{
	font-family:'Sunflower';
	font-size: 20px;
}
.workCommentWriter{
	font-family:'Sunflower';
	font-size: 16px;
}
.workCommentDate{
	font-family:'Sunflower'; 
	font-size: 14px;
	margin-left: 10px;
	color:rgba(118, 0, 253, 0.733);
}
.delBtn{
	float:right;
	border: none;
	font-size: 14px;
}

.scheCommentOutput{
	width: 100%;
	padding: 10px;
}
.scheCommentContent{
	font-family:'Sunflower';
	font-size: 20px;
}
.scheCommentWriter{
	font-family:'Sunflower';
	font-size: 16px;
}
.scheCommentDate{
	font-family:'Sunflower'; 
	font-size: 14px;
	margin-left: 10px;
	color:rgba(118, 0, 253, 0.733);
}
.delBtn{
	float:right;
	border: none;
	font-size: 14px;
}
